<!-- Image -->
<ng-container *ngIf="selectedComponent?.type === 'image'">
  <div class="divider my-2"><span>Image</span></div>
  <label>Image Source</label>
  <input type="text" class="form-control mb-2" [(ngModel)]="selectedComponent!.src" (ngModelChange)="updateCanvasComponent()" placeholder="Enter image URL"/>
  <label>Alt Text</label>
  <input type="text" class="form-control mb-2" [(ngModel)]="selectedComponent!.alt" (ngModelChange)="updateCanvasComponent()" placeholder="Enter alt text"/>
</ng-container>